@model IEnumerable<Manager_SIMS.Models.Enrollment>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Course List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .container-fluid {
            flex: 1;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 88%;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white text-center p-3">
        <h1>
            Information Management System (SIMS)
        </h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 bg-light sidebar py-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="List" asp-controller="Course">Manager Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="List" asp-controller="Enrollment">Assign Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </nav>
            <!-- Main content -->

            <main class="col-md-10 p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Assginment Courses </h3>
                </div>
                <form asp-action="Assign" method="post">
                    <div class="form-group mb-2">
                        <label for="studentId">Select Student</label>
                        <select id="studentId" name="studentId" class="form-control" asp-items="ViewBag.Students"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="courseId">Select Course</label>
                        <select id="courseId" name="courseId" class="form-control" asp-items="ViewBag.Courses"></select>
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                   
                </form>
            </main>
        </div>
    </div>
    <footer class="bg-dark text-white d-flex align-items-center justify-content-center py-3 mt-2" style="height: 50px;">
        <p>&copy; 2025 Management System (SIMS). All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
